@import './base.css';

/* 让整个后台布局自适应占满全屏宽高 */
html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  display: block; /* 覆盖 Vite 模板的居中布局 */
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

